<IfModule mod_rewrite.c>
#RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /BookAndPlay/index.php [L]
</IfModule>

RewriteEngine On
<IfModule mod_headers.c>

Header set Access-Control-Allow-Origin "*"
</IfModule>